* {
  margin: 0;
  padding: 0;
}

/*
1-Icons
2-Wpcore (WordPress Core Csss)
3-Base (main)
4-responsive
*/
/* = Icons
-------------------------------------------------------------- */
.icon-right {
  background: url("./assets/image/icon-right.png");
  background-repeat: no-repeat;
  display: inline-block;
  width: 35px;
  height: 35px;
  vertical-align: middle;
  margin-left: 40px;
}

.icon-git {
  background: url("./assets/image/icon-git.png");
  background-repeat: no-repeat;
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  padding-right: 30px;
}

.icon-pages {
  background: url("./assets/image/icon-pages.png");
  background-repeat: no-repeat;
  display: inline-block;
  width: 40px;
  height: 48px;
  vertical-align: middle;
  margin-right: 10px;
}

.icon-envelope {
  background: url("./assets/image/icon-envelope.png");
  background-repeat: no-repeat;
  display: inline-block;
  width: 64px;
  height: 64px;
}

.icon-forum {
  background: url("./assets/image/icon-forum.png");
  background-repeat: no-repeat;
  display: inline-block;
  width: 64px;
  height: 60px;
}

.icon-folder {
  /* background: url("./assets/image/icon-folder.png"); */
  background-repeat: no-repeat;
  display: inline-block;
  width: 64px;
  height: 58px;
}

.icon-info {
  /* background: url("./assets/image/icon-info.png"); */
  background-repeat: no-repeat;
  display: inline-block;
  width: 47px;
  height: 47px;
}

.icon-adn {
  background: url("./assets/image/icon-adn.png");
  background-repeat: no-repeat;
  display: inline-block;
  width: 22px;
  height: 24px;
}

/* =Transition
-------------------------------------------------------------- */
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

body {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  height: 100%;
  line-height: 1.5;
  padding-right: 0 !important;
}

a {
  text-decoration: none;
  outline: 0 none;
}

ul {
  padding: 0;
}

h1 {
  font-size: 38px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  color: #43484d;
}

h2 {
  font-size: 30px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  color: #43484d;
}

p {
  font-family: 16px;
  line-height: 24px;
  color: #5e6977;
  font-weight: 300;
}

.btn-success {
  background-color: #7dc855;
  border: medium none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 13px 25px;
}

.btn-default {
  font-size: 18px;
  border-radius: 5px;
  border: 2px solid #e1e8ee;
  color: #43484d;
  padding: 15px 30px;
}

.btn-default:hover {
  background: #f9f9f9 none repeat scroll 0 0;
  border: 2px solid #e1e8ee;
  transition: background-color 500ms ease-out 0.2s;
}

.section-title {
  font-size: 52px;
  font-weight: 300;
  color: #43484d;
}

.section-subtitle {
  font-size: 22px;
  font-weight: 100;
  line-height: 32px;
  color: #5e6977;
  width: 55%;
  margin: 20px auto 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-70 {
  padding-top: 70px;
}

/***************************** Header ****************************/
.hero {
  background: url("./assets/image/poly-blue.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.navbar {
  padding: 30px 0 30px 0;
  background-color: transparent;
}
/* .navbar .brand img {
  padding-top: 11px;
} */
.navbar .navbar-collapse {
  justify-content: flex-end;
}

.navbar .navbar-nav {
  align-items: center;
}
.navbar .navbar-nav .nav-link {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding-right: 20px;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus {
  background-color: transparent;
  color: #7dc855;
  text-decoration: none;
  outline: medium none;
}
.navbar .nav-btn {
  padding: 10px 27px !important;
  border: 2px solid #7dc855;
  border-radius: 3px;
  margin-top: 5px;
}
.navbar .nav-btn:hover {
  color: #fff;
  background: #7dc855;
  opacity: 0.9;
}

.navbar-toggle {
  background: transparent none repeat scroll 0 0;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  float: right;
  font-size: 31px;
  margin-right: 15px;
  margin-top: -15px;
  position: relative;
}

.masthead {
  padding: 100px 0 80px 0;
  text-align: center;
}
.masthead h1 {
  color: #fff;
}
.masthead p {
  color: #fff;
  font-size: 22px;
  font-weight: 100;
  margin: 0 auto;
  padding-bottom: 15px;
  padding-top: 30px;
  text-align: center;
  width: 70%;
}
.masthead .search-field {
  width: 100%;
  font-size: 18px;
  border-radius: 5px;
  padding: 0px 30px;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 60px;
}
.masthead form {
  position: relative;
  margin-top: 10px;
}
.masthead form button {
  position: absolute;
  right: 25px;
  top: 25px;
  background: none;
  border: none;
  font-size: 30px;
  color: #86939e;
}
.masthead .btn-hero {
  border: 3px solid #fff;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 50px;
}
.masthead .btn-hero:hover {
  background: rgba(255, 255, 255, 0.2);
  -webkit-transition: background-color 500ms ease-out 0.2s;
  -moz-transition: background-color 500ms ease-out 0.2s;
  -o-transition: background-color 500ms ease-out 0.2s;
  transition: background-color 500ms ease-out 0.2s;
}

.single-masthead {
  padding: 0 0 40px;
}
.single-masthead .btn-hero {
  margin-top: 30px;
  float: right;
}

/***************************** 2- Features ****************************/
.bgc-light-gray {
  background-color: #f9f9f9;
}

.features,
.genre {
  padding: 100px 0;
  position: relative;
}
.features .icon,
.genre .icon {
  display: inline-block;
  font-size: 50px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
.features h3,
.genre h3 {
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #43484d;
}
.features p,
.genre p {
  font-size: 16px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  color: #86939e;
}

.features:after {
  content: "";
  display: block;
  height: 1px;
  margin-top: 1px;
  width: 100%;
  position: absolute;
  bottom: 0;
  /* background: url("./assets/image/icon-dash.png"); */
  background-repeat: repeat-x;
}

.genre {
  padding: 50px 0;
}

/***************************** 3- Topics ****************************/
.topics {
  padding: 50px 0;
}
.topics header {
  border-bottom: 1px solid #eee;
  position: relative;
}
.topics header h2 {
  font-size: 38px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  color: #43484d;
}
.topics header p {
  font-size: 16px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  color: #5e6977;
}
.topics .topics-btn {
  margin-top: 30px;
}
.topics .topics-btn .btn {
  margin-top: 60px;
  color: #358ed7;
}
.topics .topics-btn span {
  display: inline;
  padding-left: 30px;
}

.topics h3 a {
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #43484d;
  text-decoration: none;
}

.media-border {
  border-bottom: 1px solid #eeeeee;
}

.topics-list {
  padding: 20px 0;
}
.topics-list li {
  list-style: none;
  padding-left: 5px;
  padding-top: 10px;
}
.topics-list li a {
  padding-left: 15px;
  color: #5e6977;
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  outline: 0 none;
}
.topics-list li a:hover {
  color: #7dc855;
}
.topics-list li:before {
  font-family: FontAwesome;
  content: "";
  color: #b5bfc7;
  font-size: 18px;
}
.topics-list .badge {
  background-color: #7dc855;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  line-height: 25px;
  min-width: 10px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  height: 25px;
  width: 25px;
  margin-right: 10px;
  padding: 0;
}

/*----------------------- Widgets ----------------------*/
.widget {
  border: 3px solid #f7f7f7;
  border-radius: 5px;
  padding: 25px;
}
.widget h4 {
  font-size: 18px;
  font-weight: 400;
  color: #43484d;
  line-height: 25px;
}
.widget .icon {
  float: right;
  padding-right: 10px;
  padding-right: 20px;
}

.widget-support-forum {
  margin-bottom: 24px;
  margin-top: 50px;
}
.widget-support-forum p {
  font-size: 16px;
  font-weight: 400;
  color: #86939e;
  padding-top: 30px;
  padding-bottom: 30px;
}

.widget_categories li {
  list-style: none;
  padding-left: 5px;
  padding-top: 15px;
}
.widget_categories li a {
  padding-left: 15px;
  color: #5e6977;
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  outline: 0 none;
}
.widget_categories li a:hover {
  color: #7dc855;
}
.widget_categories li ul {
  padding-left: 30px;
  padding-bottom: 20px;
}
.widget_categories li ul li:before {
  font-family: FontAwesome;
  content: "";
}

.widget_categories li:before {
  font-family: FontAwesome;
  content: "";
  color: #b5bfc7;
  font-size: 18px;
}

/***************************** 4- Support ****************************/
.support-section {
  background: url("./assets/image/bg2.png") no-repeat center;
  position: relative;
  margin-bottom: 80px;
}
.support-section .divider {
  border-top: 1px solid #eeeeee;
  position: relative;
  margin-bottom: 120px;
}
.support-section .divider i {
  background: #7dc855;
  border-radius: 50%;
  color: #fff;
  display: block;
  font-size: 28px;
  height: 45px;
  line-height: 45px;
  padding: 0;
  text-align: center;
  width: 45px;
  margin: 0 auto;
  margin-top: -25px;
}
.support-section ul.members {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.support-section ul.members li {
  display: inline;
  padding-right: 30px;
}

/***************************** 5- Contacts ****************************/
.section {
  margin-top: 80px;
  margin-bottom: 80px;
}

.call-to-action {
  border: 4px solid #f7f7f7;
  border-radius: 5px;
  padding: 20px;
  margin: 20px 0;
}
.call-to-action .action-btn {
  display: inline-block;
  float: right;
}
.call-to-action h3 {
  font-size: 30px;
  font-weight: 400;
  color: #43484d;
  margin: 0 0 10px;
}
.call-to-action p {
  font-size: 20px;
  font-weight: 300;
  color: #86939e;
}
.call-to-action .btn-action {
  margin-top: 20px;
  float: right;
}

footer {
  background-color: #f9f9f9;
  border-top: 1px solid #eee;
  padding: 35px 0 20px;
}
footer .footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5px;
}
footer .footer-links li {
  display: inline;
  padding-right: 30px;
}
footer .footer-links li a {
  color: #5e6977;
  font-size: 16px;
  font-weight: 500;
}
footer .footer-links li a:hover {
  color: #7dc855;
  text-decoration: none;
}
footer .copyright {
  color: #5e6977;
  padding-top: 5px;
  font-size: 16px;
  font-weight: 300;
  float: right;
}

.breadcrumbs {
  background: #f9f9f9;
  padding-top: 15px;
  padding-bottom: 5px;
}
.breadcrumbs ol {
  padding: 0;
}
.breadcrumbs ol li {
  display: inline-block;
  color: #5e6977;
  font-size: 14px;
}
.breadcrumbs ol li a {
  text-decoration: none;
  color: #5e6977;
}
.breadcrumbs ol li::after {
  content: " / ";
  padding: 0 10px;
}
.breadcrumbs ol li:last-child::after {
  content: "  ";
}
.breadcrumbs ol .active {
  color: #7dc855;
}

.content-wrapper {
  padding: 40px 0;
}

.alert-info {
  background: #f6fafd;
  padding: 10px 10px 10px 90px;
  position: relative;
}
.alert-info .icon-info {
  position: absolute;
  top: 25px;
  left: 25px;
}
.alert-info p {
  line-height: 25px;
  padding-bottom: 10px;
  padding-top: 12px;
}

.post .meta {
  border-bottom: 1px solid #eee;
  margin: 20px 0;
  padding-bottom: 10px;
}
.post .meta p {
  padding: 15px 0;
}
.post .meta li {
  display: inline-block;
  font-weight: 300;
  color: #86939e;
}
.post .meta li span {
  color: #43484d;
}
.post .meta li::after {
  content: "|";
  padding: 0 20px;
}
.post .meta li:last-child::after {
  content: none;
}

.post img {
  padding: 40px 0;
  max-width: 100%;
}

.post blockquote {
  background: #f9f9f9;
  border: 3px solid #c3cfd8;
  padding: 30px;
  margin: 30px 0;
  border-radius: 5px;
}

.feedback {
  padding: 50px 0;
}
.feedback h3 {
  border-bottom: 1px solid #eee;
  font-size: 38px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  color: #43484d;
  padding-bottom: 20px;
}
.feedback input[type="text"] {
  font-size: 18px;
  border-radius: 5px;
  border: 2px solid #e1e8ee;
  color: #43484d;
  height: 60px;
  width: 100%;
  margin: 20px 0;
  padding: 20px;
}

.template-genre .overlay {
  background: rgba(2, 28, 53, 0.9) none repeat scroll 0 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.template-card .masthead {
  padding-top: 200px;
}

.template-card .masthead h1 {
  margin-top: -150px;
}

.template-card .card {
  background: #fff;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-top: -150px;
}
.template-card .card .icon {
  padding-bottom: 30px;
}
.template-card .card .section-subtitle {
  width: 78%;
}
.template-card .card input[type="text"] {
  border: 2px solid #e1e8ee;
  border-radius: 5px;
  color: #43484d;
  font-size: 14px;
  height: 50px;
  margin: 10px 0;
  padding: 15px;
  width: 100%;
}
.template-card .card input[type="submit"] {
  margin-top: 20px;
  width: 100%;
}
.template-card .card .forget-pass {
  padding-top: 30px;
}

/* = Responsive
-------------------------------------------------------------- */
/* Custom, iPhone Retina */
@media (max-width: 768px) {
  .brand {
    padding-left: 15px;
  }
  .features {
    padding: 35px 0;
  }
  footer {
    text-align: center;
  }
  footer .footer-links {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  footer .copyright {
    float: none;
  }
}

/* Extra Small Devices, Phones */
@media (max-width: 1024px) {
  .call-to-action {
    text-align: center;
  }
  .call-to-action .btn-action {
    margin-top: 0;
    float: none;
  }
  .single-masthead .btn-hero {
    margin: 24px auto 0;
    float: none;
  }
}

@media all and (max-width: 1024px) and (min-width: 768px) {
  footer {
    text-align: center;
  }
  footer .footer-links {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  footer .copyright {
    float: left;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .topics-list {
    padding: 5px 0;
  }
}

/* notification */

/* .notification {
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
} */

.notification-ui_icon .unread-notification {
  display: inline-block;
  height: 7px;
  width: 7px;
  border-radius: 7px;
  background-color: #66bb6a;
}
@media (min-width: 900px) {
  .notification-ui_icon .unread-notification {
    left: 20px;
  }
}
.notification-ui_dd {
  padding: 0;
  /* border-radius: 10px;
  box-shadow: 0 5px 20px -3px rgba(0, 0, 0, 0.16); */
  border: 1px solid #ccc;
  width: 100%;
}

.notification-ui_dd:after {
  content: "";
  position: absolute;
  top: -30px;
  left: calc(50% - 7px);
  border-top: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #fff;
  border-left: 15px solid transparent;
}
.notification-ui_dd .notification-ui_dd-header {
  border-bottom: 1px solid #ddd;
  padding: 15px;
}
.notification-ui_dd .notification-ui_dd-header h3 {
  margin-bottom: 0;
}
.notification-ui_dd .notification-ui_dd-content {
  max-height: 550px;
  overflow: auto;
}
.notification-list {
  display: flex;
  justify-content: space-between;
  padding: 20px 25px;
  border-bottom: 1px solid #ddd;
}
.notification-list--unread {
  position: relative;
  background: #f4f8fa;
}
.notification-list--unread:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% + 1px);
  border-left: 2px solid #007bff;
}
.notification-list .notification-list_img img {
  height: 42px;
  width: 42px;
  border-radius: 50px;
  margin-right: 20px;
}
.notification-list .notification-list_detail {
  margin-right: auto;
  max-width: 200px;
}
.notification-list .notification-list_detail p {
  margin-bottom: 5px;
  line-height: 1.2;
}
.notification-list .notification-list_detail .nt-link {
  border-left: 3px solid #007bff;
  line-height: 1.3;
  padding-left: 10px;
}
